<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="neu.quwanme">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:name=".WanApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WanMainActivity"
            android:label="@string/main_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".common.RegisterActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".student.StudentMainActivity"
            android:label="学生主界面"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".student.LastestAty"
            android:label="最新活动"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".shop.ShopMainActivity"
            android:label="商家主界面"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".shop.ActivityMain"
            android:label="商家活动管理界面"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".shop.CreateAty"
            android:label="商家创建活动"
            android:theme="@style/AppTheme"
            />
        <activity
            android:name=".shop.OneAtyDetail"
            android:label="活动详情页"
            android:theme="@style/AppTheme"
            />

    </application>

</manifest>
